
<div class="card mb-3" >
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{ cookie.image }}" class="card-img" alt="">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title">{{cookie.name}}</h1>
                <p class="card-text">{{cookie.description}}</p>
                <p class="card-text"><b>Cena :</b> {{cookie.price}} PLN / kg</p>
                <div class="row">
                    <div class="cell d-inline p-2">
                        <button mat-raised-button color="warn" (click)="openDeleteDialog(cookie)">Usuń</button>
                    </div>
                    <div class="cell d-inline p-2">
                        <button mat-raised-button color="primary" (click)="openUpdateDialog(cookie)">Edytuj</button>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
