
<div class="card mb-3" style="max-width: 740px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{ cookie.image }}" class="card-img" alt="">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title">{{cookie.name}}</h2>
                <p class="card-text">{{cookie.description}}</p>
                <p class="card-text">Cena : {{cookie.price}} PLN /kg</p>
            </div>
        </div>
    </div>
</div>
