
<div class="row" > 
  <div class="col-6">    
    <mat-card class="main-card">
      <mat-card-header>
        <div mat-card-avatar class="header-cake-image"></div>
        <mat-card-title>Torty</mat-card-title>     
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/main_cake.jpg" alt="Cukiernia meiying" style="max-width:80%;max-height:80%">
      <mat-card-content>
        <p>
           
           Kochasz piec i chcesz własnoręcznie przygotować tort dla swoich najbliższych? 
           Przygotowaliśmy dla Ciebie mnóstwo sprawdzonych przepisów na torty na każdą okazję - 
           urodziny, imieniny, Komunia czy Walentynki.<br>
            Do ich przygotowania przydadzą Ci się dekoracje , które sprawią, że Twoje wypieki będą wyjątkowe. 
            Za pomocą Pisaków cukrowych możesz też wyczarować piękny napis na torcie.<br>
           Koniecznie skorzystaj z naszych poniższych inspiracji. 
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button color="primary"  routerLinkActive="active" routerLink="/cake">Więcej</a>
      </mat-card-actions>
    </mat-card>
    
  </div>
  <div class="col-6"> 
    <mat-card class="main-card">
      <mat-card-header>
        <div mat-card-avatar class="header-cookie-image"></div>
        <mat-card-title>Ciastka</mat-card-title>     
      </mat-card-header>
      <img mat-card-image src="assets/main_cookie.jpg" alt="Cukiernia meiying" style="max-width:80%;max-height:80%">
      <mat-card-content>
        <p>
          20 lat doświadczenia w produkcji wyrobów cukierniczych.  
          Wysoka jakość i doskonały smak.
           Zapraszamy do zapoznania się z naszą ofertą.<br>
           Ciasteczka są o smaku waniliowym, delikatne i kruche, udekorowane czerwonymi M&M's i czekoladą.
          <br>  Z ciastem przyjemnie się pracuje, wycinanie ciastek to prawdziwa przyjemność, zwłaszcza dla dzieci!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button color="primary"  routerLinkActive="active" routerLink="/cookies">Więcej</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

