.main-card {
    max-width: 500px;
   /* // margin: 20px; */
  }
  .header-cookie-image {
    background-image: url('/assets/cookie.png');
    background-size: cover;
  }
  .header-cake-image {
    background-image: url('/assets/bake.png');
    background-size: cover;
  }
  a:hover{
    text-decoration: none;
  }