
<div class="card mb-3" >
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{ cake.image }}" class="card-img" alt="">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title">{{cake.name}}</h1>
                <p class="card-text">{{cake.description}}</p>
                <p class="card-text"><b>Cena :</b> {{cake.price}} PLN</p>
                <p class="card-text"><b>Masa :</b> {{cake.mass}} dag</p>
                <div class="row">
                    <div class="cell d-inline p-2">
                        <button mat-raised-button color="warn" (click)="openDeleteDialog(cake)" [disabled]="!checkAuthorization()">Usuń</button>
                    </div>
                    <div class="cell d-inline p-2">
                        <button mat-raised-button color="primary" (click)="openUpdateDialog(cake)" [disabled]="!checkAuthorization()">Edytuj</button>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
